<div class="row" id="header">
  <div class="col-md-1 pt-1"><h4 style="color: azure;">CricInfo</h4></div>
  <div class="col-md-9">
  
      <ul class="nav">
        <li class="nav-item" id="one">
          <a class="nav-link active" >Home</a>
        </li>
       
        <li class="nav-item" id="one">
          <a class="nav-link" [routerLink]="['/fixture']" >Fixtures</a>
        </li>
        <li class="nav-item" id="one">
            <a class="nav-link" [routerLink]="['/teams']" >Teams</a>
          </li>
          <!-- <li class="nav-item " id="one">
            <a class="nav-link" >WC 2019</a>
          </li>
        <li class="nav-item" id="one">
              <a class="nav-link" >Points Table</a>
        </li> 
        <li class="nav-item" id="one">
            <a class="nav-link" >Team Rankings</a>
      </li> -->
      </ul>
     
    </div>
  <div class="col-md-2"> <input type="text" class="form-control" placeholder="search"> </div>
</div>
